apiVersion: v1
kind: Pod
metadata:
  name: "vol-corruptor-{{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=8') }}"
  namespace: "{{ namespace }}"
  labels:
    app: {{ app_name }}
spec:
  containers:
  - name: pod-corrupt-file
    image: quay.io/openshifttest/alpine:latest
    command: [ "/bin/sh", "-c", "--" ]
    args: [ "while true; do >/data/vol/{{ file_path }}; done;" ]
    volumeMounts:
    - name: testvolume
      mountPath: /data/vol
  volumes:
  - name: testvolume
    persistentVolumeClaim:
      claimName: nginx-html
